{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  	<meta charset="utf-8">
  	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  	<title>见字如面</title>
  	<meta content="" name="description">
  	<meta content="" name="keywords">
  	<!-- Favicons -->
	<link href="{% static 'myfont/assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'myfont/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!-- Vendor CSS Files -->
	<link href="{% static 'myfont/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'myfont/assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<!-- Template Main CSS File -->
	<link href="{% static 'myfont/assets/css/style.css' %}" rel="stylesheet">
	<!-- =======================================================
  	* Template Name: Bethany - v2.2.0
  	* Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  	* Author: BootstrapMade.com
  	* License: https://bootstrapmade.com/license/
  	======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="{% url 'myfont:index' %}"><span><strong>见字如面</strong></span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="{% url 'myfont:index' %}"><strong>首页</strong></a></li>
            <li><a href="{% url 'myfont:myfont' %}"><strong>我的字体</strong></a></li>
            <li><a href="{% url 'myfont:createfont' %}"><strong>新建字体</strong></a></li>
            <li><a href="{% url 'myfont:activity' %}"><strong>实用界面</strong></a></li>
            <li class="drop-down">
              <a href="{% url 'myfont:userinfo' %}"><strong>用户名</strong></a><ul>
                <li><a href="{% url 'myfont:logout' %}">退出登录</a></li>
              </ul>
            </li>
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->
<!-- STEP 1 -->
		<section id="portfolio" margin-top="200px">
			<div class="container ">
				<form action="{% url 'myfont:moduserinfo' %}" method="POST" class="my-login-validation" novalidate="">
					{% csrf_token %}
					<div class="row">
						<h2>
							<h2>&nbsp</h2>
						</h2>
					</div>
					<br>
					<div>
						<h3>用户信息</h3>
					</div>
					<!-- 邮箱 -->
					<div class="row">
						</br>
						</div>
					<div class="row">
						<div class="col-lg-1  col-md-1">
						</div>
						<div class="col-lg-2  col-md-2">
							<p align="right"><strong>邮箱：</strong></p>
						</div>
						<div class="col-lg-6  col-md-6">
							<p>{{ request.myfont_user.user_email }}</p>
						</div>
						<div class="col-lg-3 col-md-3">
						</div>
					</div>
					<!-- 昵称 -->
					<div class="row">
						<div class="col-lg-1  col-md-1">
						</div>
						<div class="col-lg-2  col-md-2">
							<p align="right"><strong>昵称：</strong></p>
						</div>
						<div class="col-lg-2  col-md-2">
							<p><input type="text" class="form-control" name="name" value="{{ request.myfont_user.user_name }}"></p>
						</div>
						<div class="col-lg-7  col-md-7">
						</div>
					</div>
					
					<!-- password -->
					<div class="row">
						<div class="col-lg-1  col-md-1">
						</div>
						<div class="col-lg-2  col-md-2">
							<p align="right"><strong>密码：</strong></p>
						</div>
						<div class="col-lg-2  col-md-2">
							<p><input type="password" class="form-control" name="password"></p>
						</div>					
						<div class="col-lg-7  col-md-7">
						</div>
					</div>
					
					<!-- 注册时间 -->
					<div class="row">
						<div class="col-lg-1  col-md-1">
						</div>
						<div class="col-lg-2  col-md-2">
							<p align="right"><strong>注册时间：</strong></p>
						</div>
						<div class="col-lg-6  col-md-6">
							<p>{{ request.myfont_user.user_regtime }}</p>
						</div>
						<div class="col-lg-3 col-md-3">
						</div>
					</div>
					
					
					<div class="row">
						</br>
						</br>
						</br>
						</br>
					</div>
					<div class="row">
						<div class="col-lg-5 col-md-5">
						</div>
						<div class="col-lg-2 col-md-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block">提交修改</button>
						</div>
						<div class="col-lg-5 col-md-5">
						</div>
					</div>
				</form>
				
			</div>
			</div>
		</section>
<!-- end -->
  <!-- Vendor JS Files -->
  <script src="{% static 'myfont/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'myfont/assets/vendor/aos/aos.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'myfont/assets/js/main.js' %}"></script>
</body>

</html>